<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <title>Techcares Inc website</title>
</head>

<div class="header" style=" width: 100%; height: 8em; top: 0; margin: 0 auto; overflow: hidden; border: groove; border-right: none; border-left: none; background-color: chocolate " >
   <!--<img src="" class="img-circle" alt="Logo" style="float: left; width: 80px; height: 80px">-->
    <div class="logo-slogan" style="background-color: gray; height: 1.5em">
        <label class="img-circle" style="font-size: 55px; float: left; padding: 20px 50px 20px; border: groove; color: white; font-style: italic; border-top: none; border-bottom: none">TCI</label>
        <label style="font-size: 20px; color: white; text-transform: uppercase; float: left; padding: 40px 50px 40px ">Techcares Inc.
        </label>
        <label class="slogan" style="font-style: italic; color: white; font-weight: lighter; "> ~ A Solution to your worries </label>
    </div>

    <ul class="list" >
        <li><a href="#">Login</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Blog</a></li>
    </ul>
</div>
<div  style="max-width: 800px; margin: auto; background-color: cadetblue;  ">

<footer>
</div>
</body>
</html>